@import "../../../../src/theme/rules.scss";
.codeLoginChoiceContainer {
    max-width: 60rem;
    min-width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
    p {
        color: var(--ion-text-color);
        @include Ltext_02;
        padding-top: 0.5rem;
    }
}

.orChoiceContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    span {
        width: 32%;
        height: 1px;
        background-color: var(--ion-white-color);
    }
    p {
        @include title_02;
        margin: 0;
        padding: 0;
        color: var(--ion-text-color);
    }
}

.formParrainage {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .inputCodeContainer {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 1rem;
        margin: 2rem auto;
        input {
            all: unset;
            width: 2.5rem;
            height: 3rem;

            text-align: center;
            border-radius: 6px;
            background: var(--ion-black-color);
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: var(--ion-text-color);
            @include Ltext_02;
        }
    }
}

.registerFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4.25rem;
}
.boxFormRegisterContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    @include boxSubscribeForm;
    p {
        margin: 0 auto;
        margin-bottom: 1rem;
        @include Ltext_02;
        color: var(--ion-text-color);
    }
    padding: 0;
    margin: 0;
    box-shadow: unset;
}
