@import "../../../../src/theme/rules.scss";
.container {
    width: 90%;
    padding: 0.5rem;
    margin: 2rem auto 1rem auto;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .titleANDCrossContainer {
        position: relative;
        z-index: 0;

        .actionPosition {
            position: absolute;
            right: 10px;
            top: 10px;
            transform: rotate(0deg);
            transition: 0.3s ease;
        }
    }
    .contentContainer {
        transition: height 0.3s ease-in-out;
        overflow: hidden;
        padding-top: 0.4rem;
    }

    .title {
        @include Ltext_04;
        color: var(--ion-text-color);
        font-size: 1.4rem;

        margin: 0;
    }
    .text {
        @include Mtext_03;
        color: var(--ion-white-color);
        font-size: 0.9rem;
        margin-top: 0;
    }
}
