a {
    color: var(--ion-link-color);
}

ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.headerRegister {
    position: absolute;
    top: 0;
}

.formLoginAndRegisterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
    margin: 0 auto;
    width: 80%;
    max-width: 40rem;
    padding: 2rem 1rem;
    background-color: #353534;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
