a {
    color: var(--ion-link-color);
}

ion-menu::part(backdrop) {
    background-color: rgba(255, 0, 255, 0.5);
}

ion-menu::part(container) {
    border-radius: 0 20px 20px 0;
    box-shadow: 4px 0px 16px rgba(255, 0, 255, 0.18);
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}
.containerMainAPP {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    overflow-y: auto;
}

.headerContainer {
    padding-bottom: 8rem;
}
.content {
    width: 100%;
    position: relative;
}

.headerRegister {
    position: absolute;
    top: 0;
}
