@import "../../theme/rules.scss";

.brandContainer {
    width: 100%;
    // min-width: 50vw;
}
.bannerImgContainer {
    background-color: black;

    img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }
}

.brandMainInfoContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    padding: 1rem 0.5rem;

    .logoImgContainer {
        width: 4rem;
    }
    .brandName {
        @include Ltext_01;
        font-size: 2rem;
        margin-bottom: 0;
    }
}

.activeBrandButtonContainer {
    position: sticky;
    display: flex;
    justify-content: center;
    bottom: 0%;
    padding-bottom: 1rem;
}

@media screen and (min-width: 1000px) {
    .bannerImgContainer {
        width: 70%;
        margin: 0 auto;

        img {
            object-fit: contain;
        }
    }
}

.loaderContainer {
    position: absolute;
    z-index: 9;
    width: 100%;
    height: 100%;
    //background-color: rebeccapurple;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;

    .loader {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
    }
    .loader::before,
    .loader::after {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 5px solid #fff;
        animation: prixClipFix 2s linear infinite;
    }
    .loader::after {
        inset: 8px;
        transform: rotate3d(90, 90, 0, 180deg);
        border-color: #ffcb74;
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }

    @keyframes prixClipFix {
        0% {
            clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
        }
        50% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }
        75%,
        100% {
            clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
        }
    }
}
